<footer id="contact">
  <div class="container">
    <p class="social">
      <a href="https://github.com/bratanon"><i class="fa fa-github-alt"></i></a>
      <a href="https://bitbucket.org/bratanon"><i class="fa fa-bitbucket"></i></a>
      <a href="https://linkedin.com/in/stjerneman"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://twitter.com/bratanon"><i class="fa fa-twitter"></i></a>
      <a href="https://drupal.org/user/464598"><i class="fa fa-drupal"></i></a>
    </p>
    <p class="small copy">&copy; Emil Stjerneman &#128074;</p>
    <p class="small location">Made in <strong>Göteborg</strong></p>
  </div>
</footer>

<script id="dsq-count-scr" src="//stjerneman.disqus.com/count.js" async></script>
{% include google_analytics.html %}
