<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta name="description"/>
  <meta property="fb:admins" content="632607018"/>
  <meta property="og:url" content="https://stjerneman.com"/>
  <meta property="og:title"/>
  <meta property="og:description"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image"/>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="image_src"/>
  <link rel="stylesheet" href="/assets/stylesheets/vendor.min.css?v{{ site.version }}" />
  <link rel="stylesheet" href="/assets/stylesheets/stjerneman.min.css?v{{ site.version }}" />
</head>
