{% assign classList = "animated" | split: " "  %}
{% if page.image-header %}
  {% assign classList = classList | push: "image-background" %}
{% endif %}
{% assign classes = classList | join: " " %}
<nav class="{{ classes }}">
  <div class="container">
    <a href="/" class="site-name">Stjerneman</a>
    <ul>
      {% assign pages = site.pages | sort:"weight" %}
      {% for article in pages %}
        {% if article.title and (article.menu-hide == null or (article.menu-hide != null and article.menu-hide == false )) %}
          <li><a class="page-link" href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
