---
layout: default
title: Portfolio
---
<section class="portfolio-list">
  <article class="container">
    <h1>Portfolio</h1>
    <hr>
    {% for post in site.portfolio reversed  | sort: 'date' %}
      <article>
        <header>
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
          <span class="portfolio-list--category">{{ post.category }}</span>

          {% if post.tags %}
          <span class="portfolio-list--tags">{{ post.tags | join: ', ' }}</span>
          {% endif %}
        </header>

        {{ post.excerpt }}
      </article>
    {% endfor %}
  </article>
</section>

<section class="tertiary portfolio-cvs-projects">
  <article class="container">
    <h2>Projects and code on github and bitbucket</h2>
    <a href="https://github.com/bratanon" class="no-link-hover"><i class="fa fa-github-alt"></i><span>Github</span></a>
    <a href="https://bitbucket.org/bratanon" class="no-link-hover"><i class="fa fa-bitbucket"></i><span>Bitbucket</span></a>
  </article>
</section>

<section class="secondary portfolio-other-customers">
  <article class="container">
    <h2>Other clients and projects I've been involved with</h2>
    <div class="plain-list">
      <h3>Alingsås kommun</h3>
      <h3>Cad-Q</h3>
      <h3>East Capital</h3>
      <h3>Elvaco</h3>
      <h3>Ericsson</h3>
      <h3>Göteborg & Co</h3>
      <h3>Göteborgs Räddningsmission</h3>
      <h3>IHM Business School</h3>
      <h3>Infomaker</h3>
      <h3>Jaguar</h3>
      <h3>Land Rover</h3>
      <h3>Måltidslösningar AB</h3>
      <h3>Universeum</h3>
      <h3>Vasaloppet</h3>
      <h3>Volvo CE</h3>
    </div>
  </article>
</section>
