<section id="about-me" class="secondary">
  <article class="container">
    <img src="/assets/images/me.jpg" alt="Profile picture depicting Emil Stjerneman" class="make-round" />
    <h1>Who is Emil Stjerneman?</h1>
    <hr>
    <p>
      I'm a full stack web developer from Sweden with long and deep knowledge and passion for web development.
      With all my knowledge I'm determined to ensure, insofar as I can, to make the web a better experience to
      all of us.
    </p>
    <p>
      I recently extended my backend knowledge with a degree in Java development.
    </p>
    <p>
      As a web developer I'm curious, driven, development-oriented and thoughtful. I'm versed and enjoys to work
      in an agile environment.
    </p>
    <p>
      As a colleague I'm seen by others as a initiating and humorous fellow worker that increase the mood in the
      group.
    </p>
  </article>
</section>
