<section id="my-education">
  <article class="container">
    <h1>My education</h1>
    <hr>
    <div class="items">
      <div class="item">
        <h3>Java developer</h3>
        <span class="school-name">Technology School of Gothenburg</span>
        <span class="period">2013 - 2015</span>
      </div>
      <div class="item">
        <h3>CSS</h3>
        <span class="school-name">University of Umeå</span>
        <span class="period">2009</span>
      </div>
      <div class="item">
        <h3>JavaScript with DOM</h3>
        <span class="school-name">University of Umeå</span>
        <span class="period">2009</span>
      </div>
    </div>
  </article>
</section>
