<section id="my-way">
  <article class="container">
    <h1>My way to where I'm at today</h1>
    <hr/>
    <div class="section-description">I've worked with many exciting companies on my way to where I'm at today.</div>
    <div class="items">
      <div class="item animation bounceInUp">
        <h3>WirelessCar</h3>
        <span class="role">Web / Java developer</span>
        <span class="period">2015 - Present</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>Alten</h3>
        <span class="role">Web / Java developer</span>
        <span class="period">2015 - Present</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>HiQ</h3>
        <span class="role">Web / Java developer</span>
        <span class="period">2014 - 2015</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>Curly Labs*</h3>
        <span class="role">Web / PHP developer</span>
        <span class="period">2014 - 2014</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>KNTNT*</h3>
        <span class="role">Web / PHP developer</span>
        <span class="period">2013 - 2013</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>NodeOne</h3>
        <span class="role">Web / PHP developer</span>
        <span class="period">2011 - 2013</span>
      </div>
      <div class="item animation bounceInUp">
        <h3>Kodamera</h3>
        <span class="role">Web / PHP developer</span>
        <span class="period"> 2006 - 2011</span>
      </div>
    </div>
    <p class="note">* Worked here in parallel with my studies at Teknikhögskolan.</p>
  </article>
</section>
