---
layout: default
---
<section>
  <article class="container">
      <header class="post-header">
          <h1>{{ page.title | markdownify | remove:'<p>' | remove: '</p>'}}</h1>
          <hr>
          <section class="post-meta">
            <img src="/assets/images/me.jpg" alt="Emil Stjerneman" class="make-round" />
            <strong>Emil Stjerneman</strong>
            <span>/</span> {{ page.date | date: "%A %b %-d, %Y" }}
            {% if page.comments %}
            <span>/</span>
            <a href="#disqus_thread" data-disqus-identifier="{{ page.disqus_id }}"></a>
            {% endif %}
            <br >
            {{ page.tags | join: ", " }}
          </section>
      </header>

      <article class="post-content">
        <div class="content">
          {{ content | remove_first: page.excerpt }}
        </div>
        {% include disqus_comments.html %}
      </article>
  </article>
</section>
